<div class="main-container">
  <div class="question">
    <h2>New question</h2>
    <form [formGroup]="newQuestionForm" novalidate class="question__form">
      <div>
        <input class="form-control" formControlName="title"
        type="text" placeholder="Title"/>
        <textarea formControlName="text" placeholder="Text" class="text"></textarea>
      </div>
      <h3>Choose categories</h3>
      <div class="question__categories" formArrayName='items'>
        <div *ngFor="let category of newQuestionForm.controls.items.value; let i = index">
          <label for="category">{{tags[i]}}</label>
          <input type="checkbox" formControlName={{i}}>
        </div>
      </div>
    </form>
    <div class="buttons-container">
      <button type="submit" (click)="submitQuestion()" class="buttons-container__ok-btn">OK</button>
      <button routerLink="/main" class="buttons-container__cancel-btn">Cancel</button>
    </div>
    <p class="alert-msg" *ngIf="isValidForm">Fill in both fields and select at least one of the categories please</p>
  </div>
</div>
