.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 60px;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;

  &__logo {
    margin-right: auto;
    margin-left: 15px;
  }
  &__add-question {
    text-align: center;
    color: rgb(35, 185, 35);
    cursor: pointer;
  }
  &__log-out-btn {
    text-align: center;
    font-size: 15px;
    color: rgb(214, 58, 37);
    cursor: pointer;
  }

  &__profile-btn {
    border: 2px solid black;
    border-radius: 5px;
    color: #2fac4a;
  }
  &__profile {
    margin-right: 20px;
  }
}
