.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 60px;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: var(--bg-color);
  color: var(--color-text);

  &__logo {
    margin-right: auto;
    margin-left: 15px;
    margin-bottom: 0;
  }

}
