.main-container {
  width: 80%;
  margin: 0 auto;
  border: 2px solid black;
  background-color: var(--bg-color);
  color: var(--color-text);
  border-radius: 10px;
  padding-bottom: 30px;
}

.cards-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.add-question {
  cursor: pointer;
  text-align: center;
  position: absolute;
  right: 0;
  line-height: 65px;
  top: calc(100% + 35px);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #2fac4a;
  color: #2fac4a;
  font-size: 20px;
  font-weight: bold;
}

.filters {
  border-bottom: 2px solid black;
  color: var(--color-text);
  height: 60px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}


input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
  background-color: #2fac4a;
}


.old {
  color: var(--color-text);
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  height: 36px;
  margin-bottom: 0;
  font-weight: 500;
}

.line-display {
  width: 100%;
}


.rotate-180 {
  transform: rotate(180deg);
}
