<form [formGroup]="registrationForm" novalidate class="login">
  <h2>Login</h2>
  <div class="form-group">
    <input class="form-control" name="name" formControlName="email"
    type="email" placeholder="email" minlength="3" maxlength="30"/>
    <div class="alert alert-danger"
      *ngIf="registrationForm.controls['email'].invalid && registrationForm.controls['email'].touched">
      invalid email
    </div>
  </div>

  <div class="form-group">
    <input class="form-control" name="password" formControlName="userPassword"
    [type]="passwordVisible ? 'text' : 'password'" placeholder="password" maxlength="20"/>
    <div class="alert alert-danger"
      *ngIf="registrationForm.controls['userPassword'].invalid && registrationForm.controls['userPassword'].touched">
      Must contain 6 or more characters that have at least one number and one upper and lower case letter in english.
    </div>
    <div class="watch-btn" (click)="watchPass()"></div>
  </div>

  <button (click)="SignIn()" class="submit-btn" [disabled]="registrationForm.invalid">Sign in</button>
  <a href="/" class="login__registration">Back to registration</a>
</form>
