<div class="container">
  <div class="question">
    <h2>Edit question</h2>
    <form [formGroup]="newQuestionForm" novalidate class="question__form">
      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" class="form-control">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Your text</mat-label>
          <textarea matInput formControlName="text"></textarea>
        </mat-form-field>
      </div>
      <h3>Choose categories</h3>
      <div class="question__categories" formArrayName='items'>
        <div *ngFor="let category of newQuestionForm.get('items')['controls']; let i = index">
          <mat-checkbox formControlName={{i}}>{{tags[i]}}</mat-checkbox>
        </div>
      </div>
    </form>
    <button type="submit" (click)="updateQuestion()" mat-raised-button color="primary">Update</button>
    <p class="alert-msg" *ngIf="isInvalidForm">Fill in both fields and select at least one of the categories please</p>
  </div>
</div>
