.comment {
  position: relative;
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;
  margin: 10px;
  background-color: rgb(221, 202, 202);
  font-size: 20px;
  padding: 5px;

  &__author {
    text-decoration: underline;
  }

  &__text {
    text-align: start;
  }

  &__resolve {
    position: absolute;
    right: 10px;
    bottom: 15px;
  }
}

.resolved {
  background-color: rgb(151, 231, 126);
}
