.comment {
  position: relative;
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;
  margin: 10px;
  background-color: rgb(221, 202, 202);
  font-size: 20px;
  padding: 5px;
  @media (max-width: 900px) {
    font-size: 15px;
  }

  &__author {
    text-decoration: underline;
    word-wrap: break-word;
  }

  &__text {
    text-align: start;
    word-wrap: break-word;
  }

  &__resolve {
  }
}

.resolved {
  background-color: rgb(151, 231, 126);
}
