<mat-card class="example-card" *ngIf="question">
  <mat-card-header class="card-height" routerLink="/edit-question/{{question.id}}">
    <mat-card-title>{{question.title}}</mat-card-title>
    <mat-card-subtitle>Date of creation: {{question.date | date }}</mat-card-subtitle>
    <mat-card-subtitle>Categories: {{question.categories.join(' ')}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions *ngIf="isAdmin && !question.approve">
    <button (click)="approve(question.id)" mat-raised-button color="primary">Approve</button>
    <button (click)="delete(question.id)" mat-raised-button color="warn">Delete</button>
  </mat-card-actions>
</mat-card>
