<div class="card" *ngIf="question">
  <div class="card__container" routerLink="/edit-question/{{question.id}}">
    <h4 class="card__title">{{question.title}}</h4>
    <p class="card__date">Date of creation: {{question.date | date }}</p>
    <p class="card__categories">Categories: {{question.categories.join(' ')}}</p>
  </div>
  <p *ngIf="!question.approve" class="moderation">Moderation</p>
  <div class="admin" *ngIf="isAdmin && !question.approve">
    <button (click)="approve(question.id)" mat-raised-button color="primary" class="admin-btn">Approve</button>
    <button (click)="delete(question.id)" mat-raised-button color="warn" class="admin-btn">Delete</button>
  </div>
</div>
