<div class="container" *ngIf="question$ | async as question">
  <div class="question-view" *ngIf="question && (currentUser !== question.user || question.approve)">
    <div class="question-view__header">
      <p class="question-view__date">{{question.date | date}}</p>
      <p class="question-view__user">{{question.user}}</p>
    </div>
    <h2 class="question-view__title">{{question.title}}</h2>
    <div class="question-view__text">{{question.text}}</div>
    <h4>Categories</h4>
    <ul class="question-view__categories">
      <li *ngFor="let category of question.categories">{{category}}</li>
    </ul>
    <div class="admin" *ngIf="isAdmin && !question.approve">
      <button (click)="approve()" routerLink="/main" mat-raised-button color="primary">Approve</button>
      <button (click)="deleteQuestion()" mat-raised-button color="warn">Delete</button>
    </div>
    <p *ngIf="!question.approve" class="moderation">Moderation</p>
  </div>
  <p class="response-error" *ngIf="responseError">{{responseError}}</p>
  <app-edit-question *ngIf="question && (currentUser === question.user && !question.approve)" [question]="question"></app-edit-question>
  <button mat-raised-button routerLink="/main" color="warn" class="question-view__back-btn">Back</button>
  <h3>Create your comment</h3>
  <textarea class="comments-area" [(ngModel)]="text"></textarea>
  <p *ngIf="isInvalidArea" class="area-alert">Write your comment</p>
  <div class="question-view__buttons">
    <button type="submit" (click)="addComment()" mat-raised-button color="primary">Add</button>
  </div>
  <div class="comments" *ngIf="question">
    <h3>Comments</h3>
    <ul class="comments__list" >
      <app-comment *ngFor="let comment of question.comments; let i = index" [comment]="comment" [id]="i" [question]="question"></app-comment>
    </ul>
  </div>
</div>
<p *ngIf="responseError">{{responseError}}</p>
