.question-view {
  width: 80%;
  border: 2px solid black;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 30px;

  &__header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__date {
  }
  &__title {
    width: 80%;
    border-bottom: 1px solid black;
    margin: 0 auto;
  }
  &__text {
    width: 80%;
    margin: 20px 0;
    word-wrap: break-word;
  }
  &__categories {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }

  &__buttons {
    display: block;
    margin: 0 auto;
    width: 20%;
    display: flex;
    justify-content: space-between;

    &_back-btn {
      width: 60px;
      height: 40px;
      border-radius: 5px;
      background-color: rgb(219, 73, 28);
      color: white;
    }
    &_add-btn {
      width: 60px;
      height: 40px;
      border-radius: 5px;
      background-color: #2fac4a;
      color: white;
    }
  }
}

.admin {
  position: absolute;
  bottom: 0;
  right: 0;
  &__approve-btn {
  }
  &-btn {
  }
  &__delete-btn {
  }
}

.comments-area {
  display: block;
  margin: 0 auto;
  width: 80%;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  height: 100px;
  margin-bottom: 20px;
}
.comments {
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid black;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;

  &__list {
    padding: 20px;
  }
}

:host {
  text-align: center;
}

.area-alert {
  color: red;
  font-size: 15px;
}
